@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

::ng-deep * {
  margin: 0;
  padding: 0;
}

*{
  font-family: Gloria Hallelujah;
}

.startscreen {
  background-color: white;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  max-width: 25%;
}
