<div class="container">

  <div class="pos1">
    <p>Starting pos</p>
  </div>

  <div class="pos2">
    <p>Middle pos</p>
  </div>

  <!-- // Pos 3 can be either left or right -->
  <div class="pos3">

    <div class="left3">
      <p>Left3</p>
    </div>

    <div class="right3">
      <p>Right3</p>
    </div>

  </div>

  <!-- // Pos 4 will always be middle -->
  <div class="pos4">
    <p>Middle pos 4</p>
  </div>

  <!-- // Pos 5 either left or right -->
  <div class="pos5">

    <div class="left5">
      <p>left5</p>
    </div>

    <div class="right5">
      <p>right5</p>
    </div>

  </div>

   <!-- Pos 6 middle -->
  <div class="pos6">
    <p>Final middle</p>
  </div>

</div>
