.container {

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .row {
    background-color: rgb(131, 226, 131);
    width: fit-content;
    display: flex;
    gap: 3rem;
  }
}

.directory {
  background-color: rgb(211, 226, 188);
  padding: 1rem;
  border-radius: 5px;
}

.subtitle {
  font-size: .5rem;
  background-color: red;
}

