<div class="container">

  <div class="row">
    <div class="holder">
      <p class="directory">Starting pos</p>
      <p class="subtitle" *ngIf="area == 0">ACTIVE</p>
    </div>

  </div>

  <div class="row">
    <p class="directory">Middle pos</p>
    <p class="subtitle" *ngIf="area == 1">ACTIVE</p>
  </div>

  <!-- // Pos 3 can be either left or right -->
  <div class="row">

    <div class="left3">
      <p class="directory">Left3</p>
      <p class="subtitle" *ngIf="area == 2">ACTIVE</p>
    </div>

    <div class="right3">
      <p class="directory">Right3</p>
      <p class="subtitle" *ngIf="area == 3">ACTIVE</p>
    </div>

  </div>

  <!-- // Pos 4 will always be middle -->
  <div class="row">
    <p class="directory">Middle pos 4</p>
    <p class="subtitle" *ngIf="area == 4">ACTIVE</p>
  </div>

  <!-- // Pos 5 either left or right -->
  <div class="row">

    <div class="left5">
      <p class="directory">left5</p>
      <p class="subtitle" *ngIf="area == 5">ACTIVE</p>
    </div>

    <div class="right5">
      <p class="directory">right5</p>
      <p class="subtitle" *ngIf="area == 6">ACTIVE</p>
    </div>

  </div>

   <!-- Pos 6 middle -->
  <div class="row">
    <p class="directory">Final middle</p>
    <p class="subtitle" *ngIf="area == 7">ACTIVE</p>
  </div>

</div>
